.form {
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
  max-width: 396px;
  height: 80vh;
  align-items: left;
}

.form__logo-link {
  width: 38px;
  height: 38px;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29/24);
  margin: 40px 0;
  padding: 0;
}

.form__input-container {
  width: 100%;
}

.form__submit-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: calc(17/14);
}

.form__request-error {
  font-weight: 400;

}

.form__request-error_error-active {
  color: #EE3465;
}

.form__submit-btn {
  width: 100%;
  height: 45px;
  background-color: #4285f4 !important;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17/14);
  text-align: center;
}

.form__submit-btn_inactive {
  margin-top: auto;
  width: 100%;
  height: 45px;
  background-color: #F8F8F8 !important;
  color: #C2C2C2;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17/14);
  text-align: center;
}

.form__under-form {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17/14);
}

.form__text-under-form {
  color: #8b8b8b;
}

.form__link-under-form {
  color: #4285f4 !important;
}

@media (max-width: 550px) and (min-width: 320px) {
  .form {
    margin: 56px auto 0;
    width: 260px;
    height: 90vh;
    align-items: center;
  }

  .form__submit-btn {
    font-size: 12px;
  }

  .form__under-form {
    font-size: 12px;
  }
}
