.portfolio {
  width: 100%;
  background-color: #202020;
}

.portfolio__content {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 125px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20 / 18);
  color: #8b8b8b;
  margin: 0 0 50px;
}

.portfolio__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
  padding: 20px 0 19px;
}

.portfolio__item:last-child {
  border-bottom: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
}

.portfolio__text-link {
  font-weight: 400;
  font-size: 30px;
  line-height: calc(50 / 30);
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) and (min-width: 551px) {
  .portfolio__content {
    padding: 0 0 90px;
  }

  .portfolio__title {
    font-size: 18px;
    line-height: calc(20 / 18);
  }

  .portfolio__text-link {
    font-size: 28px;
    line-height: calc(50 / 28);
  }
}

@media (max-width: 550px) {
  .portfolio__content {
    width: 92%;
    padding: 0 0 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: calc(20 / 14);
    margin: 0 0 40px;
  }

  .portfolio__text-link {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}
