.promo {
  width: 94%;
  background-color: #272727;
  border-radius: 10px;
  margin: 0 auto;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 auto;
  text-align: center;
  padding: 160px 0 151px;
  width: 60%;
}

@media (max-width: 1080px) and (min-width: 321px) {
  .promo__title {
    font-size: calc(1.8rem + 21 * (100vw - 320px) / 960);
    padding: 350px 0 314px;
    width: 75%;
  }
}

@media (max-width: 320px) {
  .promo__title {
    font-size: 29px;
    padding: 220px 0 212px;
    width: 100%;
  }
}
