.app {
  background-color: #202020;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.link:hover {
  opacity: 0.6;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.6;
}
