.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 28px 0;
}

.navigation__content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.nav__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.nav__link:last-child {
  font-weight: 400;
  margin-right: 0;
}

.navigation__profile-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.navigation__profile-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__profile-btn {
  background: #313131 !important;
  border-radius: 4px !important;
  width: 26px;
  height: 30px;
}

.navigation__logo-profile-btn {
  display: block;
  margin: 0 auto;
}
