.search-form {
  width: 90%;
  margin: 0 auto;
}

.search-form__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(170, 170, 170, 0.3);
  border-radius: 8px;
  padding: 10px;
  height: 52px;
}

.search-form__input {
  width: 90%;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20/18);
  color: #ffffff;
  padding-left: 15px;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__btn {
  width: 10%;
  height: 100%;
  background-color: #4285f4 !important;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18/14);
  color: #ffffff;
}

@media (max-width: 768px) {
  .search-form {
    margin: 70px auto 0;
  }
}

@media (max-width: 900px) and (min-width: 551px) {
  .search-form__input {
    width: 80%;
  }
  .search-form__btn {
    width: 20%;
  }
}

@media (max-width: 550px) {
  .search-form__input-container {
    height: 44px;
    padding: 6px;
  }
  .search-form__input {
    width: 75%;
    font-size: 16px;
    line-height: calc(16px / 16px);
  }
  .search-form__btn {
    width: 25%;
  }
}
