.search-form {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(170, 170, 170, 0.2);
}

.search-form__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(170, 170, 170, 0.3);
  border-radius: 8px;
  padding: 10px;
  height: 52px;
}

.search-form__input {
  width: 90%;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20px / 18px);
  color: #ffffff;
  padding-left: 15px;
}
.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__btn {
  width: 10%;
  height: 100%;
  background-color: #4285f4 !important;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18px / 14px);
  color: #ffffff;
}

.search-form__filter {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 26px 0 43px;
}

.search-form__filter-name {
  font-weight: 400;
  font-size: 13px;
  line-height: calc(18px / 13px);
}

.search-form__filter-switch input {
  position: absolute;
  opacity: 0;
}

.search-form__filter-switch {
  display: inline-block;
  padding: 2px;
  height: 1em;
  width: 2em;
  background: #202020;
  border-radius: 16px;
  border: 1.5px solid rgb(170, 170, 170, 0.2);
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
}

.search-form__filter-switch div {
  height: 1em;
  width: 1em;
  border-radius: 16px;
  background: #3ddc84;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.search-form__filter-switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

@media (max-width: 900px) and (min-width: 551px) {
  .search-form__input {
    width: 80%;
  }
  .search-form__btn {
    width: 20%;
  }
}

@media (max-width: 550px) {
  .search-form__input-container {
    height: 44px;
    padding: 6px;
  }
  .search-form__input {
    width: 75%;
    font-size: 16px;
    line-height: calc(16px / 16px);
  }
  .search-form__btn {
    width: 25%;
  }

  .search-form__filter {
    gap: 13px;
    margin: 31px 0 64px;
  }

  .search-form__filter-name {
    font-size: 11px;
    line-height: calc(18px / 11px);
  }

  .search-form__filter-switch {
    height: 0.75em;
    width: 1.5em;
  }

  .search-form__filter-switch div {
    height: 0.75em;
    width: 0.75em;
  }
}
