.footer {
  width: 90%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
  padding: 79px 0 0;
}

.footer__project-name {
  border-bottom: 1px solid #424242;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
  padding: 0 0 20px;
}

.footer__project-links {
  padding: 20px 0;
}

.footer__text {
  margin: 0;
  padding: 0;
}

.footer__project-links {
  display: flex;
  justify-content: space-between;
}

.footer__link:first-child {
  margin-right: 20px;
}
