.navtab {
  align-items: center;
  padding-bottom: 30px;
}

.navtab__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: 36px;
  column-gap: 10px;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.navtab__grid-item {
  background-color: #303030;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16/12);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  .navtab__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 82px);
    grid-template-rows: 26px;
    column-gap: 6px;
  }

  .navtab__grid-item {
    font-size: 10px;
    line-height: calc(16/10);
  }
}
